    <footer  class="contianer">
      <div class="row">
        <div class="col-md-6 col-sm-12 text-left left-padding">
            <h5 class="footer-heading" >General information</h5>
            <p class="footer-text">This website is built by 'AHMED KHALED' 
                an engineering student at Ain Shames University, this website built for educational 
                purposes, any bad behavior of any user is 
                their responsibility.
            </p>
        </div>
        <div class="col-md-6 col-sm-12 text-left left-padding">
            <h5 class="footer-heading">Contact</h5>
            <a class="footer-link link-light" href="mailto:ahmedKhaled.m24@gmail.com" target="_blank">Email</a>
            <a class="footer-link link-light" href="https://www.linkedin.com/in/ahmedkhaled24/" target="_blank" >LinkedIn</a>
            <a class="footer-link link-light" href="https://github.com/Ahmed-Khaled24" target="_blank">Github</a>
        </div>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>   
</body>
</html>