<div id="home">

    
    <section id="content"> 
        <ul class="home-list">
            <h4 class="section-header">Content</h4>
            <li class="home-item"><a href="#get-started" class="home-link link-success"> Get started </a></li>
            <li class="home-item"><a href="#blog-interface" class="home-link link-success"> Blog interface </a></li>
            <li class="home-item"><a href="#important-notes" class="home-link link-success"> Important notes </a></li>
        </ul>
    </section>
    
    <section id="get-started">
        <ul class="home-list">
            <h4 class="section-header"> Get started </h4>
            <li class="home-item"> Make account from <span class="imp-word"> REGISTER. </span></li>
            <li class="home-item"> If you made account before use <span class="imp-word"> LOGIN. </span> </li>
        </ul>
    </section>
    <span></span>
    <section id="blog-interface">
        <ul class="home-list">
            <h4 class="section-header" > Blog interface </h4>
            <li class="home-item"> <span class="imp-word"> ALL POSTS: </span> this page contains all the posts created by all the users on this site
                 ordered by date of creation, in this page you can use Add new post button to create posts.</li>
            <li class="home-item"> <span class="imp-word"> MY POSTS: </span>  this page contains all the posts created by you ordered by date of creation,
                 in this page you can delete any of your posts.
            </li class="home-item">
            <li class="home-item"> <span class="imp-word"> ACCOUNT: </span>  this page contains the data for the current logged in user.</li>
            <li class="home-item"> <span class="imp-word"> LOGOUT: </span>  use it to log out. </li>
        </ul>
    </section>
    
    <section id="important-notes">
        <ul class="home-list">
            <h4 class="section-header"> Important notes </h4>
            <li class="home-item"> If you forget your password make a new account, there is no reset password option. </li>
            <li class="home-item"> You can make any password you like even if it is one character, there is no check for password strength. </li>
            <li class="home-item"> Duplicate username or password is not allowed if you see strange error contains 'duplicate' word 
                 it is because you entered already used username or email, this feature is in development to 
                 make error message easier.
            </li class="home-item">
        </ul>
    </section>
</div>

