<%- include('./partials/header.html'); %>
<div class="app">
    <%- include('./partials/guest-nav.html') %>

    <div class="form_">
        <h1>Sign up</h1>
        <form action="/register" method="post">
            <input type="email" placeholder="email" class="form-control" name="email" autocomplete="off" required="true">
            <input type="test" placeholder="username" class="form-control" name="username"  autocomplete="off" required="true">
            <input type="password" placeholder="password" class="form-control" name="password" required="true">
            <button type="submit" class="btn btn-dark">Sign up</button>
            <!-- <button type="button" class="btn btn-dark">Sign up with Google</button>
            <button type="button" class="btn btn-dark">Sign up with Facebook</button> -->
        </form>
        <p>Already have an account? <a href="/login"> Login </a></p>

        <% if(notes) { %>
        <p class="login-register-notes"> <%= notes %></p>
        <% } %>
        
    </div>
</div>

<%- include('./partials/footer.html'); %>