h1{
    margin: 30px
}

img {
    width: 300px;
    margin-bottom: 10px;
}

.account-info{
    gap: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.account-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

.text-section{
    align-items: left;
}

.visual-section{
    align-items: center;
}

.text-section {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media (max-width: 1000px){
    
}