.form_{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-top: 50px;
}

.form_ form input{
    margin-bottom: 10px;
    width: 350px;
}

.form_ form button{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    width: 350px;
}

.form_ form a{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 350px;
}

.form_ h1{
    font-size: 3.2rem;
}

.form_ p a{
    font-weight: 500;
    color: #0F3D3E
}

.login-register-notes{
    text-align: center;
    font-size: 16px;
    color: red;
}

a img {
    width: 25px;
    align-items: center;
}

.btn-light{
    border: 1px solid #B2B2B2;
}