*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
.app {
    min-height: 90vh;
}

.error-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.error-paragraph{
    color: red;
    text-align: center;
    width: 400px;
}

.loader {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: 3px solid white;
    border-top-color: transparent;
    animation: loader 0.5s linear infinite;
}
@keyframes loader {
    0% {
        transform: rotate(0turn);
    }
    100% {
        transform: rotate(1turn);
    }
}

img {
    padding: 0px;
    width: 100%;
}

footer{
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f1f3f5;
    background-color: #212529;
    padding: 20px;
    width: 100%;
}

body{
    color: #100F0F;
    background-color: #f1f3f5;
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
}

section {
    width: 100%;
    display: flex;
    min-height: 70vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* Scroll bar */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #343a40;
}
::-webkit-scrollbar-thumb {
    background: #adb5bd;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #868e96;
}