.app {
    min-height: 90vh;
}

img {
    padding: 0px;
    width: 400px;
}

footer{
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F1F1F1;
    background-color: #212529;
    padding: 20px;
    width: 100%;
}

body{
    color: #100F0F;
    background-color: #F1F1F1;
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
}

section {
    width: 100%;
    display: flex;
    min-height: 70vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* Scroll bar */
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background: #212529;
}
::-webkit-scrollbar-thumb {
    background: #d3d2d2;
}
::-webkit-scrollbar-thumb:hover {
    background: #868686;
}