.customize-nav{
    width: 90%;
}

.nav-item{
    padding: 0 20px;
    width: auto;
}

.navbar-brand{
    margin: 0;
    width: 30%;
    font-size: 34px;
    padding: 0 10px;
    font-family: 'Pacifico', cursive;
}

#navbarNav{
    flex-direction: row-reverse;
}

@media(max-width: 600px){
    .navbar-brand {
        width: auto;
        font-size: 36px;
        padding: 0px;
    }
}
